<ngfFormData
  [(FormData)]="formData"
  [files]="files"
></ngfFormData>

<ngfUploadStatus
  [(percent)]="progress"
  [httpEvent]="httpEvent"
></ngfUploadStatus>

<div class="inline-block">
  <div ngfDrop
       [(files)]="files"
       [(file)]="lastUploadedFile"
       [(lastInvalids)]="lastInvalids"
       [(validDrag)]="validDrag"
       [(invalidDrag)]="invalidDrag"
       [accept]="accept"
       [ngClass]="{'myHoverClass': validDrag, 'myAntiHoverClass': validDrag}"
       class="drop-zone"
       [class.invalid-drag]="validDrag === false"
       [class.valid-drag]="validDrag"
  >Drop files here
  </div>
  <div>
    <strong>accept:</strong>
  </div>
  <div>
    <input type="text" [(ngModel)]="accept">
  </div>
</div>

<div class="bg-warning" *ngIf="lastInvalids?.length" style="margin-bottom: 40px">
  <h3 style="color:red;">Last {{ lastInvalids.length }} Invalid Selected Files</h3>

  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Error</th>
      <th>Type</th>
      <th>Size</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of lastInvalids;let i=index">
      <td>
        <div *ngIf="['image/gif','image/png','image/jpeg'].indexOf(item.file.type)>=0">
          <div class="previewIcon" [ngfBackground]="item.File"></div>
        </div>
        <strong>{{ item.file.name }}</strong>
      </td>
      <td nowrap>
        {{ item.errorType }}
      </td>
      <td nowrap>
        {{ item.file.type }}
      </td>
      <td nowrap>
        {{ item.file.size / 1024 / 1024 | number:'.2' }} MB
      </td>
      <td nowrap>
        <button type="button"
                class="btn btn-danger btn-xs"
                (click)="lastInvalids.splice(i,1)"
        >
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <h3>{{ files.length }} Queued Files</h3>
  <div *ngIf="files.length != 0">
    <table mat-table [dataSource]="files">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{files.indexOf(element)}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">{{element.type}}</td>
      </ng-container>

      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef>Size</th>
        <td mat-cell *matCellDef="let element">{{element.size}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="deleteitem(files.indexOf(element))">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <button mat-raised-button color="primary" (click)="deleteAllItems()">Delete all</button>
</div>

